body{
background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.app{
  display: flex;
  padding: 30px;
  justify-content: center;

}

.game{
  display: flex;
  flex-wrap: wrap;
  height:600px;
  width:592px;
  border: 5px solid purple
}

.game img{
  width: 70px;
  height: 70px;
  border: 2px solid pink
}
